# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# IMPORTANT: do NOT ignore model files
# *.pkl
# *.joblib
